* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
}

.my-bill-container {
  margin: 16px 0;
  width: 100%;
  border: 2px solid black;
  padding-left: 6px;
}